.header {
  display: flex;
  width: 100%;
  background-color: blue;
  align-items: center;
  justify-content: space-between;
}

/* Remove the bullet points from the list */
.projects-list > li {
  list-style-type: none;
}

/* Create a grid for all of the list items  */
.projects-list {
  display: grid;
  grid-template-rows: repeat(5, 3fr);
  border: 1px solid black;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.list-item{
  border: 1px solid black;
}

/* Logo selector is a grid which contains both the compass and text */
.logo {
  width: 70%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
}
/* Compass Selector is the compass image itself within the header  */
.compass-logo {
  max-width: 45px;
}
/* Text-logo selector is the text within the header displaying "soc projecthub" */
.text-logo {
  justify-content: center;
  max-width: 125px;
}

.search-bar {
  /* margin applied to give some distance between the logo  */
  margin-top: 1rem;
 /* Align the search bar to the center of the page  */
 
}

/* Selector for the main html  */
.main {
  background-color: green;
}

.footer {
  background-color: red;
}

.search {
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  justify-content: center;
}

.search-bar {
  /* position: relative; */
  /* left: 7rem; */
  width: 100%;
}